@font-face {
	font-family: 'Kill Dill';
	src: url(../../assets/fonts/KillDillRegular.woff2) format('woff2'),
	url(../../assets/fonts/KillDillRegular.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}