body {
  background-color: #000000;
}

.img-fluid {
  padding: 2%;
}

.row {
  width: 100%;
}

.navbar.navbar-dark.navbar-expand-md.bg-dark {
  background-color: #000!important;
}

.hermit-page body {
  background-color: #01151e;
}

body {
  color: #FFF;
}

